<center>

	<h2>Hi, <%= @graph.get_object("me")['name']  %>!</h2>
	<h4>It is so nice to meet you today!</h4>
	<%= image_tag "#{@graph.get_picture("me", type: :large)}" %> 

<ul>Tutaj pojawi się:</ul>
<li>Możliwość szukania profili publicznych na facebooku</li>
<li>Możliwość zaczęcia obserwowania profili publicznych na facebooku</li>
<li>Spis obserwowanych profili na facebooku</li>
<li>Możliwość automatycznego streamu do career-pin</li>

</center>
<hr>
<%= @graph %>

<hr>
<%= @hash %>