<center><h1>Followed</h1>




<ul>Tutaj pojawi się:</ul>
<li>Możliwość szukania profili publicznych na facebooku</li>
<li>Możliwość zaczęcia obserwowania profili publicznych na facebooku</li>
<li>Spis obserwowanych profili na facebooku</li>
<li>Możliwość automatycznego streamu do career-pin</li>

</center>