<div class="container-fluid brand-ambasadors">
            
            
<% if current_user.providers.where(provider: "instagram").any?%>

            <div class="box">
                <%= link_to instagramshow_path(:user_id => @instagram.id ) do  %>
                <div class="profile-image">
                	<%= image_tag( @instagram.profile_picture) %>
                </div>
                <% end %>
                <div class="profile-name">
                  <span class="text-center"><%= @instagram.username %></span>
                </div>
            
         	</div>
         	<% end %>

          </div><!-- /.results -->

        </div><!-- /.container-fluid -->

      </div><!-- /#page-wrapper -->



