<center><h1>Witam w Instagram Followed!</h1></center>




<ul>Tutaj pojawi się:</ul>
<li>Możliwość szukania profili publicznych na Instagramie</li>
<li>Możliwość zaczęcia obserwowania profili publicznych na Instagramie</li>
<li>Spis obserwowanych profili na Instagramie</li>
<li>Możliwość automatycznego streamu do career-pin</li>

</center>