<h1 class="text-center">Take a photo, pin a photo!</h1>
       <div class="jumbotron">
        <div class="container">
         <h4  class="lead">You can pin photos from your Instagram profile to your career-pin.</h4>
        </div>
       </div>

       <br>
       <br>
       <br>

<div class="container-fluid brand-ambasadors">
            
            
<% if current_user.providers.where(provider: "instagram").any?%>

            <div class="box">
                <%= link_to instagramshow_path(:user_id => @instagram.id ) do  %>
                <div class="profile-image">
                	<%= image_tag( @instagram.profile_picture) %>
                </div>
                <% end %>
                <div class="profile-name">
                  <span class="text-center"><%= @instagram.username %></span>
                </div>
            
         	</div>
         	<% end %>

          </div><!-- /.results -->

        </div><!-- /.container-fluid -->

      </div><!-- /#page-wrapper -->



