 <h1 class="text-center">Przypnij trochę emocji.</h1>
          <div class= "jumbotron"><p>Career-Pin pozwala pokazać Twoim kandydatom prawdziwą atmosferę pracy. Pokazuje Twoją firmę jako część życia, zastrzyk pozytywnych emocji, niesamowite przygody czy wspaniałą grupę ludzi. Co wspaniałego chcesz dzisiaj pokazać?</p>
          </div>
          <center>Zacznij z:</center>
          <h1>
          <div class="center">
          <%= link_to '/auth/facebook' do %>
                    <i class="fa fa-facebook-official"></i>
                    <% end %>
                    <%= link_to '/twitterlogin' do %>
                    <i class="fa fa-twitter"></i>
                    <% end %>
                    <!-- <%= link_to '/instagramlogin' do %>
                    <i class="fa fa-instagram"></i> 
                    <% end %> -->
                  <h1>