
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

 <nav class="navbar navbar-default navbar-fixed">
      <div class="container">
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consectetur ab, quibusdam quae commodi tenetur, ad repellat excepturi cum quos eveniet laborum, possimus dignissimos nihil maiores officia reprehenderit! Eaque, fugiat!
      </div>
</nav>


<iframe width = 100%, height = 3100px, frameborder = 0,  src="https://careerpin.herokuapp.com/articles/1"></iframe>