<h1 class="text-center">Przypnij atmosferę.</h1>
       <div class="jumbotron">
        <div class="container">
         <h4  class="lead">To wszystkie osoby / marki jakie obserwujesz na swoim koncie na Twitterze. Możesz przeglądać ich profile i dodać Tweety do Career-Pin. Do dzieła! </h4>
        </div>
       </div>
       <br>
       <br>
       <br>

<div class="container-fluid brand-ambasadors">
            
<% if current_user.providers.where(provider: "twitter").any?%>
<% @friends.each do |friend| %>
<% a = "#{friend.friend_profile_picture}" %>
<% a.slice!("_normal") %>
            <div class="box">
                <%= link_to twitterboard_path(:id => "#{ friend.id }", :screen_name => "#{ friend.friend_screen_name}") do  %>
                <div class="profile-image">
                  <%= image_tag( a ) %>
                </div>
                <div class="profile-name">
                  <span class="text-center"><%= friend.friend_name %></span>
                </div>
                             <% if friend.friend_last_status.nil? %>
              <% else %>
              <% c = friend.friend_last_status.to_time %>
              <% b = current_user.last_sign_in_at.to_time %>
              <% if c > b %>
                <div class="number-of-posts">
                  <span>New</span>
                </div>
                <% end %>
                <% end %>
                <% end %>
            </div>
        <% end %>
      <% end %> 

          </div><!-- /.results -->

        </div><!-- /.container-fluid -->

      </div><!-- /#page-wrapper -->



