<div class="container-fluid brand-ambasadors">
            
            <div class="box add-ambasador">
              <%= link_to '/facebook-search', method: :get do%>
                <i class="fa fa-plus"></i>
              <% end %>
            </div>
<% if current_user.providers.where(provider: "twitter").any?%>
<% @friends.each do |friend| %>

<% a = "#{friend.profile_image_url_https}" %>
<% a.slice!("_normal") %>
            <div class="box">
            	<% a = friend.status.created_at.to_time %>
            	<% b = current_user.last_sign_in_at.to_time %>
            	<% if a > b %>
	              <div class="number-of-posts">
	                <span>New</span>
	              </div>
              	<% end %>
                <%= link_to twitterboard_path(:id => "#{ friend.id }", :screen_name => "#{ friend.screen_name }") do  %>
                <div class="profile-image">
                  <%= image_tag( a ) %>
                </div>
                <div class="profile-name">
                  <span class="text-center"><%= friend.name %></span>
                </div>
                <% end %>
            </div>
        <% end %>
      <% end %> 

          </div><!-- /.results -->

        </div><!-- /.container-fluid -->

      </div><!-- /#page-wrapper -->



