/* Global Styles */

body {
	margin-top: 100px;
	background-color: #FAFAFA;
	text-rendering: optimizeLegibility;
}

img {
	max-width: 100%;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #FAFAFA;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 70px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.navbar-inverse {
	background-color: #2D3340 !important;
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    background-color: #181C26 !important;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

@media (min-width: 768px) {
	.navbar-header {
    float: none !important;
	}
}

/* Side Navigation */

@media(min-width:768px) {
	.side-nav {
		position: fixed;
		top: 51px;
/*        left: 225px;*/
		width: 70px;
/*        margin-left: -225px;*/
		border: none;
		border-radius: 0;
		overflow-y: auto;
		background-color: #202531;
		bottom: -100vh;
		overflow-x: hidden;
		padding-bottom: 40px;
	}
	
	.side-nav>li{
		text-align: center;
	}
	
	.side-nav>li a {
		width: 70px;
	}

	.side-nav li a:hover,
	.side-nav li a:focus {
		outline: none;
		background-color: #181C26 !important;
	}
}

.side-nav>li>a i.fa {
	font-size: 40px;
}

/* ============================
  Followed peopole and else 
============================ */

.center {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-justify-content: space-around;
 -ms-flex-pack: distribute;
 justify-content: space-around;
 margin-bottom: 40px;
}

.fa.fa-star-o {
 padding-right: 7px;
}

.brand-ambasadors {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
}

.box {
	margin: 17px;
	width: 120px;
	height: 180px;
	border-radius: 10px;
}

.box a {
	width: 120px;
	height: 180px;
	border-radius: 10px;
}
.box a:hover,
.box a:active,
.box a:focus {
	text-decoration: none;
}

.box .profile-image img {
	position: relative;
	top: 0;
	width: 120px;
	height: 120px;
	border-radius: 10px;
}

.box .profile-name {
	position: relative;
	top: 0;
	width: 120px;
	height: 60px;
	padding: 5px;
	color: #202531;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.box:hover img {
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.8);
	cursor: pointer;
}

.number-of-posts {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #2D3340;
	top: -195px;
	left: 100px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	z-index: 1;
}

.box a .fa-plus {
	font-size: 50px;
	color: #fff;
}

.box.add-ambasador,
.box.add-ambasador a {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: #202531;
}

.box.add-ambasador:hover {
	box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.75);
	cursor: pointer;
}


/* =============================
		Buttons
============================= */

.button{
	height: 30px;
	margin: 0 auto;
	background-color: #00b55d;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	border-radius: 30px;
	cursor: pointer;
	display: block;
	border: 0;
	outline: 0;
}

.button span{
    margin-left: 5px;
}

/* =============================
		Pagination
==============================*/

.pagination li.active a {
	background: #00b55d !important;
}

/* =============================
		Blog page
==============================*/
.post {
	position: relative;
	border: 1px solid #ddd;
	background: white;
	margin: 0 0 3rem;
	border-radius: 4px;
}

.post header {
	padding: 1.4rem;
	margin-bottom: 5.5rem;
}

.post-autor-image {
	float: left;
}

.post-autor-image img {
	height: 52.5px;
	width: 52.5px;
	border-radius: 10px;
}

.post-autor {
	float: left;
	width: auto;
	padding-left: 1rem;
}

.post-autor span {
	line-height: 3.2rem;
	font-size: 3rem;
}

.post-autor time {
	font-size: 1rem;
	font-style: italic;
}

.post-image {
	height: 100%;
}


/* === PIN === */

input[value="Pin"] {
	height: 4.375rem;
	width: 4.375rem;
	position: absolute;
	top: 1.5625rem;
	right: 1.75rem;
	border: none;
	border-radius: 100%;
	background: #00B55D;
	opacity: 0.7;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
	font-size: 1.25rem;
}

input[value="Pin"]:hover {
	opacity: 1;
}

.post-main-text {
	padding: 2rem 1rem 1rem;
}


/* =======================
		Search
======================= */

h1 .fa-facebook-official {
	font-size: 100px;
	color: #3b5998;
}

h1 .fa-twitter {
	font-size: 100px;
	color: #55acee;
}

h1 .fa-instagram {
	font-size: 100px;
	color: #3f729b;
}

.search-text {
	height: 130px;
}

.search-text .lead {
	font-size: 30px;
	line-height: 50px;
	padding-top: 20px;
}

.search-brand-ambasador {
	background: #00b55d;
	color: #fff;
}

/* =======================
		Search result
======================= */

.results {
	display: none;
}

/* Very small devices (phones, 768px and down) */
@media (min-width: 320px) {
	.search-result {
		max-width: 600px;
		height: 190px;
		border: 1px solid #ddd;
		background: white;
		margin: 30px auto;
		border-radius: 4px;
		padding: 20px;
	}
	
	.search-autor,
	.search-autor-image{
		float: left;
	}	
	
	.search-butons {
		float: right;
		height: 150px;
		padding: 40px 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}	
	
	.search-autor-image img {
		width: 150px;
		height: 150px;
		margin-right: 5px;
		border-radius: 5px;
	}
	
	.search-autor {
		min-width: 125px;
		max-width: 260px;
		min-height: 150px;
		text-align: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.search-autor a {
		text-decoration: none;
		color: #000;
		font-size: 18px;
		line-height: 25px;
		font-weight: 400;
	}

	.search-see,
	.search-add {
		background: #00b55d;
		height: auto;
		width: auto;
		border-radius: 20px;
		text-align: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;		
	}
	
	.search-see a,
	.search-add a {
		color: #fff;
		padding: 5px;
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	.search-autor-image img {
		margin-right: 5px;
	}
	.search-autor a {
		font-size: 24px;
		line-height: 28px;
		font-weight: 600;
	}
}

/* =============================
		Article create
============================= */

.form-inline {
	margin-bottom: 30px;
}

.form-inline label {
	width: 50px;
	margin-right: 15px;
}

.form-inline input[type="text"],
.form-inline textarea.form-control {
	width: 300px;
}

.article-butons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}

.inputfile + label {
	font-size: 16px;
	font-weight: 700;
	padding: 5px;
	border-radius: 30px;
	background: #00b55d;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
	opacity: 0.85;
}

/* ========================
  Post preview
======================== */

.article {
 background: #ddd;
}

.article.alt{

margin-top: -150px;

}
.post-preview {
 border: 1px solid #ddd;
 border-radius: 10px;
 padding: 0;
 background: #fff;
 max-width: 1200px;
}

.post-image-preview {
 width: 100%;
 height: 400px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 position: relative;
}

.post-image-preview img {
 overflow: hidden;
 max-width: 100%;
}

.post-title-preview {
 width: 100%;
 padding: 25px;
 background-color: rgba(255,255,255,0.75);
 color: #181C26;
 font-weight: 700;
 position: absolute;
 bottom: 0;
}

.post-text-preview {
 padding: 0;
}

.post-text-preview p.lead {
 font-size: 22px;
 line-height: 1.5;
 padding-top: 30px;
}

.post-text-preview p {
 padding: 15px 30px;
 font-size: 18px;
 line-height: 1.5;
 letter-spacing: 0.8;
 word-spacing: 1.1;
}

.post-autor-preview {
 padding: 20px 60px;
 float: right;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-align-content: flex-start;
 -ms-flex-line-pack: start;
 align-content: flex-start;
}

.post-image-autor-preview,
.post-image-autor-preview img {
 width: 80px;
 height: 80px;
 border-radius: 80px;
 margin-right: 15px;
}

.post-autor-information-preview {
 height: 80px;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -webkit-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
 -webkit-justify-content: space-around;
 -ms-flex-pack: distribute;
 justify-content: space-around;
}

.post-autor-information-preview span {
 font-size: 24px;
 font-weight: 300;
 padding-top: 10px;
}
.post-autor-information-preview time {
 color: rgba(0,0,0,0.4);
 font-style: italic;
 padding-bottom: 10px;
}

.post-preview-buttons {
 height: 80px;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
 -webkit-justify-content: space-around;
 -ms-flex-pack: distribute;
 justify-content: space-around;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
}

footer.post-preview-buttons{

margin-bottom: 35px;
margin-top: 35px;

}

.btn-green {
 background-color: #00b55d;
}

.btn-green:hover {
 background-color: #00b55d;
 box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.7);
 box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.75);
}

/* ====================================
		Cover Image JS
==================================== */

.greenishCover {
	position:static;
	height:100%;
	width:100%;
	overflow:hidden;	
}
/* HEIGHT 100%*/
.height.greenishCover div {
	position:relative;
	height:100%;
	width:10100%;
	left:-5000%;
	text-align:center;
	
}	
.height.greenishCover img {
	display:inline;
	height:100%;
	margin-top:0 !important;
}
.height.left.greenishCover div {
	position:absolute;
	left:0px;
	text-align:left;
}
.height.right.greenishCover div {
	position:absolute;
	right:0px;
	left:auto;
	text-align:right;
}
/* WIDTH 100%*/
.width.greenishCover div {
	position:relative;
	width:100%;
	top:50%;
}	
.width.greenishCover img {
	display:block;
	width:100%;
}
.width.top.greenishCover div {
	position:absolute;
	top:0px;
}
.width.top.greenishCover img {
	margin-top:0px !important;
}
.width.bottom.greenishCover div {
	position:absolute;
	bottom:0px;
}
.width.bottom.greenishCover img {
	margin-top:0px !important;
	position:absolute;
	bottom:0px;
}

/* ====================================
		Career-Pin
==================================== */

html {
	box-sizing: border-box;
}

.career-pin-conatiner {
	max-width: 1200px;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.social {
	padding: 0 35px;

}

.career-pin-conatiner a {
	color: #fff;
}

.career-pin-conatiner a:hover {
	text-decoration: none;
}

.career-pin-conatiner i.fa-facebook {
	background-color: #3b5998;
}

.career-pin-conatiner i.fa-twitter {
	background-color: #55acee;
}

.career-pin-conatiner i.fa-instagram {
	background-color: #3f729b;
}


/* ========================
		Common styles
======================== */

.cp-4,
.cp-2,
.cp-1 {
	overflow: hidden;
}

.cp-4 a,
.cp-2 a,
.cp-1 a {
	text-decoration: none;
	color: #fff;	
}

.cp-image {
	overflow: hidden;
	max-width: 100%;
}

.cp-image img {
	-webkit-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.cp-social {
	width: 100%;
	height: 80px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.cp-social i {
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	margin: 15px;
	border-radius: 100%;
	font-size: 30px;
	color: #fff;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.cp-social.delete button {
	margin-left: 15px;
}
.cp-social.delete {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.cp-text {
	box-sizing: border-box;
	min-width: 100%;
	padding: 20px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.cp-text p {
	word-spacing: 0.9;
	letter-spacing: 0.9;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.cp-text time {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	box-sizing: content-box;
	display: block;
	min-width: 80px;
	font-style: italic;
	color: rgba(0,0,0,0.7);
	font-weight: 400;
	background: rgba(255,255,255,0.4);
	padding: 5px;
	border-radius: 15px;
}

a:hover .cp-image img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

a:hover .cp-social i {
	line-height: 60px;
	width: 60px;
	height: 60px;
	margin: 10px;
	border-radius: 100%;
	font-size: 35px;
}

/* ========================
		Box 4
======================== */

.cp-4 {
	height: 500px;
	width: 100%;
}

.cp-4 .cp-image {
	height: 500px;
}

.cp-4 .cp-social {
	top: -500px;
}

.cp-4 .cp-text {
	height: 420px;
	top: -500px;
}

.cp-4 .cp-text p {
	font-size: 28px;
	line-height: 42px;
	font-weight: 600;
}

/* ========================
		Box 1 & Box 2
======================== */

.cp-1,
.cp-2 {
	height: 300px;
}

.cp-1 .cp-image,
.cp-2 .cp-image {
	height: 300px;
}
.cp-1 .cp-social,
.cp-2 .cp-social {
	top: -300px;
}
.cp-1 .cp-text,
.cp-2 .cp-text {
	height: 220px;
	top: -300px;
}

.cp-1 .cp-text p {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}

.cp-2 .cp-text p {
	font-size: 22px;
	font-weight: 400;
	line-height: 33px;
}

/* ============================
		Media Query for Box's
============================ */
@media only screen and (max-width:480px){
 .cp-1 {
		width: 100%;
	}
}
@media only screen and (min-width:481px){
	.cp-1 {
		width: 50%;
	}
}
@media only screen and (min-width:960px){
	.cp-1 {
		width: 25%;
	}
}

@media only screen and (max-width:640px){
 	.cp-2 {
		width: 100%;
	}
}
@media only screen and (min-width:641px){
	.cp-2 {
		width: 50%;
	}
}
@media only screen and (max-width:850px){
	.cp-2 .cp-text p {
		font-size: 18px;
		line-height: 26px;
	}
}

@media only screen and (max-width:400px){
 	.cp-4 .cp-text p {
		font-size: 26px;
		font-weight: 500;
		line-height: 39px;
	}
}

@media only screen and (min-width:401px){
 	.cp-4 .cp-text p {
		width: 75%;
		font-size: 26px;
		font-weight: 500;
		line-height: 39px;
	}
}